<div class="field form-group {{ include.class }}">
	{% include form/label.html label=include.label checkbox=true %}

	{% assign choice_list = include.choices | split: ',' %}
	{% assign checkbox_name = include.label | slugify %}

	{% for choice in choice_list %}
		{% capture choice_id %}{{ checkbox_name | append: '-' | append: choice | slugify }}{% endcapture %}
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="{{ choice_id }}" name="{{ checkbox_name }}[]" value="{{ choice }}">
			<label class="form-check-label" for="{{ choice_id }}">{{ choice }}</label>
		</div>
	{% endfor %}

	{% include form/description.html description=include.description %}
</div>
