---
layout: form
title: Website project questionnaire
description: Website project questionnaire
heading_content: |
  This questionnaire was sent to you by **[Aubrey Portwood](https://hire.aubreypwd.com)**

  Answering these questions during a normal meeting would make any meeting go on for hours. By answering these now, you're going to make our next meeting much more productive.

  It is lengthly, about **60 questions**—it will take about **30 minutes**—be prepared to sit down and do it all in one sitting. You'll get a copy of your answers to you and you can use it however you'd like.

  Just answer every question to the best of your ability—there are no wrong answers—every answer is helpful!
sitemap: false
access_key: 18ec33e5-254b-4f41-baba-528eb5b56724
---

{% include form/heading.html content="Who is this?" %}

{% include form/common/who.html %}

{% include form/text.html label="Your current website (if you have one)" placeholder="Paste your website URL here, or type 'None' if you don't have one yet." required=true %}


{% include form/heading.html content="Your project" %}

{% include form/textarea.html label="Why does your business or mission exist?" required=true %}
{% include form/textarea.html label="What are your business and/or personal values?" required=true %}
{% include form/textarea.html label="What drives you?" placeholder="Example: Income, financial independence, customer impact, etc." required=true %}
{% include form/textarea.html label="Why do you want to do this project?" placeholder="What made you decide it needed to happen now?" required=true %}
{% include form/textarea.html label="What happens if you don't move forward with this project?" required=true %}
{% include form/textarea.html label="What is your biggest hesitation in hiring someone to help with this project?" required=true %}
{% include form/textarea.html label="What is in the way of achieving your future goals right now?" required=true %}
{% include form/textarea.html label="Have you worked with someone else in the past?" placeholder="What went well? What didn't?" required=true %}

{% include form/text.html label="When does your project need to be finished or launched?" placeholder="Enter a date or timeframe." required=true %}


{% include form/heading.html content="Goals and success" %}

{% include form/textarea.html label="What would amazing success look like for this project?" placeholder="What would make it all worth it?" required=true %}
{% include form/textarea.html label="If this project was insanely successful, what would that success allow you to do?" required=true %}
{% include form/textarea.html label="If budget weren't an issue, what's the boldest move you would make?" required=true %}
{% include form/textarea.html label="What kind of support would make you feel more confident with this project?" required=true %}
{% include form/textarea.html label="Does anything make you nervous about doing this project?" required=true %}


{% include form/heading.html content="About you and your brand" %}

{% include form/textarea.html label="Describe yourself or organization in a few sentences." required=true %}
{% include form/textarea.html label="What problems do you or will this project solve?" placeholder="How will this project impact your customers or visitors?" required=true %}
{% include form/textarea.html label="What about your background or past sets you apart from others?" required=true %}
{% include form/textarea.html label="How would you describe the feeling customers get when working with you?" required=true %}
{% include form/text.html label="Do you have a slogan or tagline?" required=true %}
{% include form/textarea.html label="Describe your ideal customers." placeholder="Income, interests, gender, age, device habits." required=true %}
{% include form/textarea.html label="What would current customers (or friends) say about you or your business?" required=true %}
{% include form/textarea.html label="What about your current brand works really well right now?" placeholder="We want to keep this around." required=true %}
{% include form/textarea.html label="What's the most frustrating part of your current situation?" required=true %}
{% include form/textarea.html label="Are there any things other businesses are doing that you'd like to try?" required=true %}
{% include form/textarea.html label="Are there any trends, platforms, or tech you are interested in exploring with this project?" required=true %}


{% include form/heading.html content="Results and measurement" %}

{% include form/textarea.html label="What would you call a &quot;conversion?&quot;" placeholder="E.g. sale, booking, signup, download. Describe it in detail." required=true %}
{% include form/textarea.html label="What other results are you looking for your project to achieve?" required=true %}


{% include form/heading.html content="Competition and positioning" %}

{% include form/textarea.html label="Have you researched your online competition?" placeholder="What did you learn?" required=true %}
{% include form/textarea.html label="Why should visitors choose you instead of a competitor?" required=true %}
{% include form/textarea.html label="Is there anything competitors are doing that make you nervous?" required=true %}
{% include form/textarea.html label="What future or current changes do you see coming in your industry?" required=true %}


{% include form/heading.html content="Marketing and discovery" %}

{% include form/textarea.html label="How do you plan to attract visitors outside of search engines?" placeholder="E.g. social, word-of-mouth, ads, etc." required=true %}


{% include form/heading.html content="Constraints and logistics" %}

{% include form/textarea.html label="What are your &quot;no-no's?&quot; What are your deal-breakers?" required=true %}
{% include form/check.html label="What tools do you use to run your current business?" choices="Social Media (Facebook/Instagram/X/Twitter/etc),A current website,Google Analytics (or similar),CRM (Customer Relationship Management),WordPress,Calendar systems,Booking systems,Ads (purchased),Ads (presented on the site),Sales calls,Referral systems and/or affiliate systems,Chatbots,Support ticket systems,Sales funnels,Shipments (if you ship items yourself)" required=true %}
{% include form/textarea.html label="Who makes the decisions about the project?" required=true %}
{% include form/textarea.html label="How did you hear about me or find me?" placeholder="I'm always curious how people find me. Were you referred, or did you find me online somewhere?" required=true %}
{% include form/text.html label="Where will you be located throughout the duration of the project?" placeholder="For instance: what timezone will you primarily be in?" required=true %}


{% include form/heading.html content="Your technical background" %}

{% include form/choice.html label="Are you familiar with WordPress?" choices="Yes,No" required=true %}
{% include form/textarea.html label="What really annoys you about websites?" required=true %}


{% include form/heading.html content="Your website" %}

{% include form/textarea.html label="List at least three websites you like and why you like them." placeholder="Or, brands you really love the look and feel of." required=true %}
{% include form/textarea.html label="What elements or content do you NEVER want on your site and why?" placeholder="E.g. ads, political content, etc." required=true %}

{% include form/textarea.html label="What words or phrases would you use to search for your site or business?" required=true %}
{% include form/textarea.html label="Rank what you think your top three most important search terms are." required=true %}
{% include form/textarea.html label="What pages or sections must your site have?" placeholder="How many pages do you think? A guess is okay." required=true %}

{% include form/choice.html label="How often do you see content changing on your website?" choices="Daily,Weekly,Monthly,Very Rarely" required=true %}
{% include form/textarea.html label="Who will be in charge of changing the content on your site?" required=true %}
{% include form/textarea.html label="Do you already have content?" placeholder="Where is it? If not, how do you intend to develop the content for the website?" required=true %}
{% include form/choice.html label="Are you intending to input all your content on your website, or do you need help with that?" choices="Yes, I'm intending to do it myself or with my team,No, I need help getting initial content on the page" required=true %}
{% include form/choice.html label="Do you need blogging or a way to publish news?" choices="Yes,No" required=true %}

{% include form/textarea.html label="Are you planning to sell products or use eCommerce?" placeholder="Describe the process you have in mind. How do you envision people buying and receiving products?" required=true %}
{% include form/check.html label="Your website will need:" placeholder="If you even think you might need it, check it. We'll work out the details later." choices="Online Payments,Physical products that are shipped,Downloadable products,Contact Forms,Newsletters,Forums,Membership Capabilities,Quizzes and other similar lead magnets,Analytics (site traffic tracking),Booking/reservation tools,Forms (other than contact),Galleries,Popups,Sales campaigns (e.g. Black Friday),Email campaigns,Private or internal content" required=true %}