<div class="serv-boxes position-relative w-100">
	<div class="row mrg40">

		{% if include.box1_title %}
			<div class="col-lg-4 col-md-4 col-sm-12 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="serv-box round15 d-flex flex-column position-relative w-100">

					<h{{ include.level | default: 3 }} class="mb-0 fw-normal sz-30 lh-sm">
						{% if include.box1_href %}<a href="{{ include.box1_href }}">{% endif %}
							{{ include.box1_title | strip_html }}
						{% if include.box1_href %}</a>{% endif %}
					</h{{ include.level | default: 3 }}>

					<div class="mb-0">{{ include.box1_content | markdownify }}</div>

				{% if include.box1_plug %}
					<span>
						{% if include.box1_href %}<a href="{{ include.box1_href }}">{% endif %}
							{{ include.box1_plug | strip_html }}
						{% if include.box1_href %}</a>{% endif %}
					</span>
				{% endif %}

				</div>
			</div>
		{% endif %}

		{% if include.box2_title %}
			<div class="col-lg-4 col-md-4 col-sm-12 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="serv-box round15 d-flex flex-column position-relative w-100">

					<h{{ include.level | default: 3 }} class="mb-0 fw-normal sz-30 lh-sm">
						{% if include.box2_href %}<a href="{{ include.box2_href }}">{% endif %}
							{{ include.box2_title | strip_html }}
						{% if include.box2_href %}</a>{% endif %}
					</h{{ include.level | default: 3 }}>

					<div class="mb-0">{{ include.box2_content | markdownify }}</div>

				{% if include.box2_plug %}
					<span>
						{% if include.box2_href %}<a href="{{ include.box2_href }}">{% endif %}
							{{ include.box2_plug | strip_html }}
						{% if include.box2_href %}</a>{% endif %}
					</span>
				{% endif %}

				</div>
			</div>
		{% endif %}

		{% if include.box3_title %}
			<div class="col-lg-4 col-md-4 col-sm-12 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="serv-box round15 d-flex flex-column position-relative w-100">

					<h{{ include.level | default: 3 }} class="mb-0 fw-normal sz-30 lh-sm">
						{% if include.box3_href %}<a href="{{ include.box3_href }}">{% endif %}
							{{ include.box3_title | strip_html }}
						{% if include.box3_href %}</a>{% endif %}
					</h{{ include.level | default: 3 }}>

					<div class="mb-0">{{ include.box3_content | markdownify }}</div>

				{% if include.box3_plug %}
					<span>
						{% if include.box3_href %}<a href="{{ include.box3_href }}">{% endif %}
							{{ include.box3_plug | strip_html }}
						{% if include.box3_href %}</a>{% endif %}
					</span>
				{% endif %}

				</div>
			</div>
		{% endif %}


	</div>
</div>