<div class="plan-boxes position-relative w-100 overflow-y-hidden businesses-boxes snap-scroll mw-100">
	<div class="row mrg40 align-items-stretch flex-nowrap gap-2 gap-md-3">
		{% for plan in include.plans %}
			<div class="snap-item col-md-6 col-sm-6 col-lg-4 d-flex flex-shrink-0 wow fadeIn"
				data-wow-duration=".8s"
				data-wow-delay=".{{ forloop.index }}s">

				<div class="plan-box businesses round15 position-relative w-100 d-flex flex-column">

					<div class="plan-head d-flex flex-column align-items-start position-relative w-100">
						<h4 class="mb-0 fw-normal sz-26">
							<div>
								<span class="rotate">
									{% for business in plan.businesses %}
										{{ business.title }}{% unless forloop.last %}, {% endunless %}
									{% endfor %}
								</span>
							</div>
						</h4>

						<span class="sz-40 fw-medium">
							{{ plan.cost }}
						</span>
					</div>

					{{ plan.desc | markdownify }}

					<div class="plan-body d-flex flex-column position-relative w-100 flex-grow-1">

						<ul class="features">
							{% for feature in plan.features %}
								<li class="{% if feature.included == false %}text-decoration-line-through opacity-50 greyscale{% endif %}">
									{{ feature.title | markdownify | remove: '<p>' | remove: '</p>' }}
								</li>
							{% endfor %}
						</ul>

						{% include koalendar_link.html class="theme-btn2 round10 d-flex align-items-center justify-content-center position-relative overflow-hidden mt-auto" href=plan.button_href content=plan.button_text %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>