<div class="call-action-box round15 mt-0 d-flex align-items-center justify-content-between gap-4 position-relative w-100">

	<div class="sec-title d-flex flex-column align-items-start flex-grow-1 flex-spacing gap-sm">

		{{ include.title | markdownify }}

		{% if include.content %}
			{{ include.content | markdownify }}
		{% endif %}

	</div>

	<div class="btn-box position-relative flex-shrink-0">
		{% capture title %}{{ include.button_title | default: "Let's get started!" }}{% endcapture %}
		{% include contact_button.html title=title href="/contact.html" fa=include.fa %}
	</div>
</div>