<div class="edu-boxes d-flex flex-column position-relative w-100">
	<div class="edu-box round15 d-flex flex-column align-items-start position-relative w-100">
			<div class="d-flex flex-column flex-md-row gap-4 justify-content-between w-100">
				{% if include.level %}
					<h{{ include.level | default: 4 }} class="mb-0 fw-normal sz-24 position-relative heading">
						<span class="at fw-bold d-block">{{ include.at }}</span>
						<span class="title d-block mt-20 fw-normal important">{{ include.title | markdownify | remove: '<p>' | remove: '</p>' }}</span>
					</h{{ include.level | default: 4 }}>
				{% else %}
					<div class="mb-0 fw-normal sz-24 position-relative heading">
						<span class="at fw-bold d-block">{{ include.at }}</span>
						<span class="title d-block mt-20 fw-normal important">{{ include.title | markdownify | remove: '<p>' | remove: '</p>' }}</span>
					</div>
				{% endif %}

				{% if include.img_src %}
					<p class="img mb-2 text-right mw-200"><img src="{{ include.img_src }}" alt="{{ include.img_alt | default: include.title | default: include.at }}" width="200"></p>
				{% endif %}
			</div>

			{{ include.content | markdownify }}

			{% if include.who %}
				<div class="accent who">{{ include.who | markdownify | replace: '<p>', '<p><small>' | replace: '</p>', '</small></p>' }}</div>
			{% endif %}

			{% if include.from or include.to %}
				<span>{{ include.from | default: '' }}{% if include.from %} - {% endif %}{{ include.to | default: ''}}</span>
			{% endif %}
		</div><!-- Experience Box -->
</div>
