<footer class="wrapper">
	<div class="copyright">
		<span>&copy; Aubrey Portwood</span>
		<span><a href="https://aubreypwd.com/posts/its-time-i-spoke-up-about-ai.html#codeispoetry" target="_blank">Code is poetry.</a></span>
	</div>
</footer>

<script src="{{ 'js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'js/jquery.scrolly.min.js' | absolute_url }}"></script>
<script src="{{ 'js/adaptations.js' | absolute_url }}"></script>
<script src="{{ 'js/savior.umd.js' | absolute_url }}" defer></script>
