{% comment %}

Note: I can only have up to (4) items before things get tricky.

{% endcomment %}

{% if include.fun_facts_boxes or page.fun_facts_boxes %}
	<div class="fun-fact-boxes mt-60 round15 position-relative w-100">
		<div class="row mrg">

			{% assign count = include.fun_facts_boxes.size | default: page.fun_facts_boxes.size %}
			{% assign col = 12 | divided_by: count %}
			{% assign facts = include.fun_facts_boxes | default: page.fun_facts_boxes %}

			{% for box in facts %}
				<div class="col-md-6 col-sm-6 col-lg-{{ col }}">
					<div class="fun-fact-box d-flex flex-column align-items-start position-relative w-100">
						<span>{{ box.label }}</span>
						<h3 class="mb-0 fw-normal sz-30 wow flipInY fadeIn" data-wow-duration="0.6s" data-wow-delay="0.5s">{{ box.value }}</h3>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endif %}
