{% comment %}

Note: I can only have up to (4) items before things get tricky.

{% endcomment %}

{% if include.fun_facts_boxes or page.fun_facts_boxes %}
	<div class="fun-fact-boxes mt-60 round15 position-relative w-100 {{ include.class }}">
		<div class="row mrg">

			{% assign count = include.fun_facts_boxes.size | default: page.fun_facts_boxes.size %}
			{% assign col = 12 | divided_by: count %}
			{% assign facts = include.fun_facts_boxes | default: page.fun_facts_boxes %}

			{% for box in facts %}

				<div class="col-md-6 col-sm-6 col-lg-{{ col }}">
					<div class="fw-bold fun-fact-box d-flex flex-row flex-sm-column align-items-start justify-content-between position-relative w-100">
						<span class="label">
							{{ box.label }}
						</span>
						<div class="text mb-0 fw-bold wow flipInY fadeIn" data-wow-duration="0.6s" data-wow-delay="0.2s">
							{% if box.href %}
								<a href="{{ box.href }}">{{ box.value }}</a>
							{% else %}
								{{ box.value }}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endif %}
