{% if page.header or page.header == nil %}
	<header class="px-1 px-md-5 position-absolute d-flex justify-content-center justify-content-lg-end gap-5 animated slideInDown w-100">
		<nav class="cont-links primary-nav d-flex">
			<a class="secondary claims" href="/how.html">Learn More</a>
			<a class="secondary experience" href="/experience.html">Experience</a>
			<a class="secondary process" href="/process.html">My Process</a>
			<a class="secondary pricing" href="/pricing.html">Costs</a>
			<a class="accent home" href="/" title="Home"><i class="far fa-home"></i><span>Home</span></a>

			{% include koalendar_link.html class="primary contact" href="/contact.html" content='<i class="fas fa-calendar-check"></i><span>Book Call</span>' %}
			</a>
		</nav><!-- Contact Links -->
	</header><!-- Header -->
{% endif %}
