{% include ga.html %}

<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="canonical" href="{{ page.url | absolute_url }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO -->
<meta name="description" content="{{ site.description }}{% if page.description %} {{ page.description }}{% endif %}">
<meta name="keywords" content="{{site.keywords}}{% if page.keywords %},{{ page.keywords }}{% endif %}">

<!-- Inline styles -->
<style>
	{% include css/adaptations.css %}
	{% include css/fontawesome/used.css %}

	/* @TODO: Going to need to figure out how to do this: it needs to only be there for lighthouse. */
	/*input[type=submit].primary, input[type=reset].primary, input[type=button].primary, button.primary, .button.primary{ color: black !important; background-color: white; border: 2px solid black; }*/
</style>

<!-- Social Media Meta -->
<meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title}}{% endif %}">
<meta property="og:description" content="{{ site.description }}{% if page.description %} - {{ page.description }}{% endif %}">
<meta property="og:image" content="{{ 'images/webp/aubrey-portwood.webp' | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ 'images/webp/aubrey-portwood.webp' | absolute_url }}">

<!-- Person Schema Information -->
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"name": "Aubrey Portwood",
		"jobTitle": "{{ site.job_title }}",
		"url": "{{ page.url | absolute_url }}",
		"image": "{{ '/images/webp/aubrey-portwood.webp' | absolute_url }}",
		"homeLocation": {
			"@type": "Place",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Albuquerque",
				"addressRegion": "NM",
				"addressCountry": "US"
			}
		},
		"sameAs": [
			"https://twitter.com/aubreypwd",
			"https://linkedin.com/in/aubreypwd",
			"https://github.com/aubreypwd"
		]
	}
</script>

<link rel="shortcut icon" href="{{ 'favicon.ico' | absolute_url }}" fetchpriority="low">
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | absolute_url }}" fetchpriority="low">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | absolute_url }}" fetchpriority="low">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | absolute_url }}" fetchpriority="low">
<link rel="manifest" href="{{ 'manifest.json' | absolute_url }}" fetchpriority="low">

<meta name="theme-color" content="#eeeeee">

<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ 'sitemap.xml' | absolute_url }}" fetchpriority="low">