{% if page.header or page.header == nil %}
	<header class="px-5 position-absolute d-flex justify-content-end gap-3 animated slideInDown">
		<nav class="cont-links primary-nav d-flex gap-1">
			<a class="secondary" href="/experience.html" title="">Experience</a>
			<a class="secondary" href="/pricing.html" title="">Cost</a>
			<a class="secondary" href="/process.html" title="">Process</a>
			<a class="accent home" href="/" title="Home"><i class="far fa-home"></i>Home</a>
			<a class="primary" href="/contact.html" title="Contact"><i class="far fa-envelope"></i>Let's talk!</a>
		</nav><!-- Contact Links -->
	</header><!-- Header -->
{% endif %}