<div class="port-detail-info-boxes round15 position-relative w-100">
	<div class="row mrg">
		<div class="col-md-6 col-sm-6 col-lg-3">
			<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
				<strong>Step 1</strong>
				<div class="mb-0 fw-normal sz-24 heading"><a href="#">Discovery</a></div>
			</div><!-- Portfolio Detail Info Box -->
		</div>
		<div class="col-md-6 col-sm-6 col-lg-3">
			<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
				<strong>Step 2</strong>
				<div class="mb-0 fw-normal sz-24 heading"><a href="#">Design</a></div>
			</div><!-- Portfolio Detail Info Box -->
		</div>
		<div class="col-md-6 col-sm-6 col-lg-3">
			<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
				<strong>Step 3</strong>
				<div class="mb-0 fw-normal sz-24 heading"><a href="#">Development</a></div>
			</div><!-- Portfolio Detail Info Box -->
		</div>
		<div class="col-md-6 col-sm-6 col-lg-3 heading">
			<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
				<strong>Step 4</strong>
				<div class="mb-0 fw-normal sz-24 heading"><a href="#">Launch</a></div>
			</div><!-- Portfolio Detail Info Box -->
		</div>
	</div>
</div>
