{% if page.sidebar or page.sidebar == nil %}
	<div class="resume-sidebar d-flex flex-column position-sticky wow pt-40"
		data-wow-duration="0.8s"
		data-wow-delay="0.5s">

		<div class="theiaStickySidebar">
			<div class="resume-info round50 d-flex flex-column position-relative justify-content-between w-100">

				<!-- User Image -->
				{% if include.user_image_src or page.sidebar.user_image_src %}
					<div class="user-img round40 overflow-hidden position-relative w-100 mb-0">
						<img class="img-fluid w-100"
							src="{{ include.user_image_src | default: page.sidebar.user_image_src | default: 'assets/images/resources/user-img.png' }}"
							alt="{{ include.user_image_alt | default: page.sidebar.user_image_alt | default: 'Profile Image' }}">
					</div>
				{% endif %}

				<!-- iMessages -->
				{% assign messages = include.messages | default: page.sidebar.messages | default: site.sidebar.messages %}
				{% if messages %}
					<div class="overflow-scroll chat" id="chat">
						<div class="mine messages" id="messages">

							{% assign animate = page.sidebar.animate_messages
								| default: include.animate_messages
								| default: site.sidebar.animate_messages %}

							<div class="message last media">
								<img src="https://hire.aubreypwd.com/images/webp/aubrey-portwood-lg.webp" alt="Aubrey Portwood">
							</div>

							{% for msg in messages %}

								{% assign message_speed = default: include.message_speed | default: page.sidebar.message_speed | default: site.sidebar.message_speed | default: 3.5 %}
								{% assign delay = forloop.index0 | times: message_speed %}

								<div class="message last{% if animate %} animated fadeIn zoomInRight{% endif %}"
									style="animation-delay: {{ delay }}s;">
										{{ msg.message | default: msg | markdownify | remove: '<p>' | remove: '</p>' }}
								</div>
							{% endfor %}
						</div>

						<script>

						document.addEventListener( 'DOMContentLoaded', () =>
							document.querySelectorAll( '.message' ).forEach( ( el ) => {

								if ( typeof el !== 'object' ) {
									return;
								}

								el.addEventListener(
									'animationend',
									() => {

										el.parentElement.scrollTo( {
											top:
												el.offsetTop
												+ el.offsetHeight
												- el.parentElement.clientHeight,
											behavior: 'smooth'
										} );
									},
									{ once: true }
								);
							} )
						);

						</script>
					</div>
				{% endif %}

				<!-- Social links -->
				{% if include.social or page.sidebar.social or site.sidebar.social %}
					<div class="user-social-wrap d-flex align-items-center justify-content-between position-relative w-100">
						<div class="social-links d-flex align-items-center gap-1 w-100 justify-content-between">
							{% assign socials = include.social | default: page.sidebar.social | default: site.sidebar.social %}
							{% if socials %}
								{% for item in socials %}
									<a href="{{ item.url }}" title="{{ item.name }}" target="_blank" rel="noopener">
										<i class="fab fa-{{ item.fa }}"></i>
									</a>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endif %}

			</div>

			<p class="copyright text-center mt-30 accent sz-16">Copyright &copy; Aubrey Portwood</p>

		</div>
	</div>
{% endif %}