{% if include.sidebar or page.sidebar or page.sidebar == nil %}
	<div class="resume-sidebar d-flex flex-column position-sticky">
		<div class="theiaStickySidebar">
			<div class="resume-info round50 d-flex flex-column position-relative w-100">

				<!-- User Image -->
				{% if include.user_image_src or page.sidebar.user_image_src %}
					<div class="user-img round40 overflow-hidden position-relative w-100">
						<img class="img-fluid w-100"
								 src="{{ include.user_image_src | default: page.sidebar.user_image_src | default: 'assets/images/resources/user-img.png' }}"
								 alt="{{ include.user_image_alt | default: page.sidebar.user_image_alt | default: 'Profile Image' }}"
								 loading="lazy">
					</div>
				{% endif %}

				<!-- User info -->
				{% if include.user_info or page.sidebar.user_info %}
					<div class="user-info d-flex flex-column align-items-start w-100">
						{{ include.user_info | default: page.sidebar.user_info }}
					</div>
				{% else %}
					<div class="user-info d-flex flex-column align-items-start w-100">
						<a href="mailto:hello@ikonicwebs.co">hello@ikonicwebs.co</a>
						<span>Base in 2489 Locust, USA</span>
						<p class="mb-0">
							&copy; 2023 <a href="index.html">ikonicwebs</a>. All Rights Reserved
						</p>
					</div>
				{% endif %}

				<!-- Social links -->
				{% if include.social or page.sidebar.social %}
					<div class="user-social-wrap d-flex align-items-center justify-content-between position-relative w-100">
						<span>Follow Me:</span>

						<div class="social-links d-flex align-items-center gap-1">

							{% assign socials = include.social | default: page.sidebar.social %}
							{% if socials %}
								{% for item in socials %}
									<a href="{{ item.url }}" title="{{ item.name }}" target="_blank" rel="noopener">
										<i class="fab fa-{{ item.fa }}"></i>
									</a>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
{% endif %}