.chat {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	max-height: 100%;
	min-height: 100%;
	overflow: scroll !important;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}

	p {
		font-size: 1rem;
	}

	a {
		text-decoration: underline;
	}
}

.messages {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.message {

	border-radius: 20px;
	padding: 8px 15px;
	margin-top: 5px;
	margin-bottom: 5px;

	animation-duration: 0.2s !important;

	&.media {
		padding: 15px;
	}

	img {
		border-radius: 20px;
		/* margin-top: 10px; */
		/* margin-bottom: 10px; */
		width: 100%;
		border: 1px solid white;
	}
}

.yours {
	align-items: flex-start;
}

.yours .message {
	margin-right: 25%;
	background-color: #eee;
	position: relative;
}

.yours .message.last:before {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: -7px;
	height: 20px;
	width: 20px;
	background: #eee;
	border-bottom-right-radius: 15px;
}
.yours .message.last:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -10px;
	width: 10px;
	height: 20px;
	background: white;
	border-bottom-right-radius: 10px;
}

.mine {
	align-items: flex-end;
}

.mine .message {
	color: white;
	margin-left: 5%;
	background: #198cff;
	background-attachment: fixed;
	position: relative;
}

.mine .message.last:before {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	right: -8px;
	height: 20px;
	width: 20px;
	background: #198cff;
	background-attachment: fixed;
	border-bottom-left-radius: 15px;
}

.mine .message.last:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: -10px;
	width: 10px;
	height: 20px;
	background: white;
	border-bottom-left-radius: 10px;
}
