@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root {
	--scheme2: #198cff;
  --Bricolage-Grotesque: "Lexend", sans-serif, "Bricolage Grotesque", sans-serif;
}

body {
	min-height: 100vh;
	padding-bottom: 4rem;
}

.logo-menu-wrapper  {
	padding-bottom: 2.8125rem;
}

.resume-sidebar {
	/* animation-name: bounceInLeft; */

	min-height: 90vh;

	@media (max-width: 1290px) {
		display: none !important; /* Yes, hide the sidebar on mobile */
	}
}

h2 b,
h2 strong,
h2 em,
h2 i {
	color: var(--scheme2);
}

.simple-link {
	text-decoration: none;
}

.intro-box h2 > strong > em,
.intro-box h2 > em > strong {

	font-family: "Story Script", sans-serif;
	font-style: normal;
	font-size: 4.7rem;

	@media (max-width: 770px) {
		font-size: 3.4rem;
	}
}

.hidden {
	display: none !important;
}

.logo-train {

	img {
		filter:
			grayscale(100%)
			sepia(40%)
			saturate(0)
			brightness(200%)
			contrast(0.92)
		;

		opacity: 0.3;

		&:hover {
			opacity: 0.6;
		}
	}
}

.intro-box {
	gap: 1.5rem;
}

.mobile {
	display: none;

	@media (max-width: 1290px) {
		display: unset;
	}
}

.desktop {
	display: none;

	@media (min-width: 1290px) {
		display: unset;
	}
}

p a {
	text-decoration: underline;
}

.help {
	cursor: help;
}