@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root {
	--scheme2: #198cff;
	--accent: #aca8a8;
	--Bricolage-Grotesque: "Lexend", sans-serif, "Bricolage Grotesque", sans-serif;
	--Marker: "Story Script", sans-serif;

	/* These are the same but are here for reference */
	--bs-breakpoint-sm: 576px;
	--bs-breakpoint-md: 768px;
	--bs-breakpoint-lg: 992px;
	--bs-breakpoint-xl: 1200px;
	--bs-breakpoint-xxl: 1400px;
}

body {
	min-height: 100vh;
	padding-bottom: 4rem;
}

.logo-menu-wrapper  {
	padding-bottom: 2.8125rem;
}

.resume-sidebar {
	min-height: 90vh;
	max-height: 90vh;

	@media (max-width: 1200px) {
		display: none !important; /* Yes, hide the sidebar on mobile */
	}
}

:is(h1, h2, h3, h4, h5, h6) :is(b, strong, em, i) {
	color: var(--scheme2);
}

.simple-link {
	text-decoration: none;
}

:is(h1,h2,h3,h4,h5,h6) :is(strong,em,i,b) > :is(strong,em,i,b) {
	color: var(--scheme2);
	font-family: var(--Marker);
	font-style: normal;
	font-size: 4.7rem !important;

	@media (max-width: 768px) {
		font-size: 3.4rem !important;
	}
}

.layout-page :is(h1,h2,h3,h4,h5,h6) :is(strong,em,i,b) > :is(strong,em,i,b) {
	line-height: 2rem;
	display: inline;
	margin-left: 0;
	text-transform: none;

	font-size: 4rem;
	line-height: 3rem;

	@media(max-width: 768px) {
		font-size: 2.5rem;
		line-height: 2rem;
	}
}

.hidden {
	display: none !important;
}

.logo-train {

	img {
		filter:
			grayscale(100%)
			sepia(40%)
			saturate(0)
			brightness(200%)
			contrast(0.92)
		;

		opacity: 0.3;

		&:hover {
			opacity: 0.6;
		}
	}
}

.intro-box {
	gap: 1.5rem;
	margin-top: 0;
}

.mobile {
	display: none;

	@media (max-width: 1200px) {
		display: unset;
	}
}

.desktop {
	display: none;

	@media (min-width: 1200px) {
		display: unset;
	}
}

p a {
	text-decoration: underline;
}

.help {
	cursor: help;
}

.social-links > a {
	border-width: 2px;
	border-color: #ffffff69;

	&:hover {
		border-color: white;
	}
}

.user-social-wrap:before {
	background-color: var(--accent) !important;
}

.flex-spacing {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	& > * {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	&.gap-lg {
		gap: 4rem !important;
	}

	&.gap-md {
		gap: 3rem;
	}

	&.gap-sm {
		gap: 2rem;
	}
}

.call-action-box {
	padding: 2.03125rem 2.5rem;
}

.scheme2 .sec-sub, .scheme2 .serv-box:hover, .scheme2 .serv-box > a, .scheme2 .comp-box:hover, .scheme2 .edu-box:hover, .scheme2 .exp-box:hover, .scheme2 .port-info > a, .scheme2 .gen-controls > div.gen-btn:hover, .scheme2 .gen-controls > div.gen-btn:focus, .scheme2 .plan-box:hover, .scheme2 .plan-box.active, .scheme2 .theme-btn2, .scheme2 .field-box:not(.attachment-field) > input:hover, .scheme2 .field-box:not(.attachment-field) > input:focus, .scheme2 .field-box:not(.attachment-field) > textarea:hover, .scheme2 .field-box:not(.attachment-field) > textarea:focus, .scheme2 .load-more-btn:hover, .scheme2 .load-more-btn:focus, .scheme2 .res-menu-btn {
	border-color: var(--accent);
}

.rounded-pill {
	color: var(--accent) !important;
}

h1,
h2,
h3 {
	color: var(--color7);
}

h4,
h5,
h6 {
	color: var(--accent);
}

.layout-page .main-heading {
	max-width: 85%;

	@media (max-width: 768px) {
		max-width: 100%;
		text-align: center;
	}
}

.cont-links, nav ul li a:before {
	@media (max-width: 1030px) {
		display: block !important;
	}
}

.cont-links > a {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;

	&.accent {
		background-color: var(--accent) !important;
	}

	&.secondary {
		background-color: transparent !important;
		font-family: Lato, sans-serif;
		text-transform: none;
		padding-left: calc(1.5rem/2);
		padding-right: calc(1.5rem/2);
		color: var(--accent);
		font-style: italic;

		&:hover {
			color: #7b7b7b;
		}
	}

	&.home {
		margin-left: 1rem;
	}
}

.serv-box {
	padding: 3rem;

	> h1,
	> h2,
	> h3,
	> p:first-child {
		font-size: 1.5rem;
	}

	p {
		margin-bottom: 0;
	}
}

.call-action-box {
	.sec-title {
		> p:first-child {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
}

p, ul li, ol li {
	line-height: 2.2rem;
}

.accent {
	color: var(--accent);
}

.port-detail-info-box > h2 {
	padding: 1.788125rem 2.5rem;
	color: var(--accent);

	b, strong, em, i {
		color: var(--accent);
	}
}

.cont-links > a:hover:not(.secondary),
.cont-links > a:focus:not(.secondary),
.res-menu-btn:hover,
.res-menu-btn:focus,
.res-menu-close,
.social-links > a::before,
.theme-btn:before, .theme-btn:after {
	background-color: #7b7b7b !important;
}