<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body class="page">

		{% include header.html navigation=true %}

		<main class="wrapper" role="main">
			<section class="section">

				<header>
					<h2>{{ page.title }}</h2>

					{% if page.heading_content %}
						{{ page.heading_content | markdownify }}
					{% endif %}
				</header>

				<div class="content">
					{% include page/toc.html contet=page.content %}

					{% if false == page.shift %}
						{{ content }}
					{% else %}
						{% include page/md-shift.html %}
					{% endif %}
				</div>
			</section>
		</main>

		{% include footer.html %}
	</body>

	{% include credit.html %}
</html>
