{% include form/heading.html content="Constraints and logistics" %}

{% include form/textarea.html label="What are your &quot;no-no's?&quot; What are your deal-breakers?" required=true %}
{% include form/check.html label="What tools do you use to run your current business?" choices="Social Media (Facebook/Instagram/X/Twitter/etc),A current website,Google Analytics (or similar),CRM (Customer Relationship Management),WordPress,Calendar systems,Booking systems,Ads (purchased),Ads (presented on the site),Sales calls,Referral systems and/or affiliate systems,Chatbots,Support ticket systems,Sales funnels,Shipments (if you ship items yourself)" required=true %}
{% include form/textarea.html label="Who makes the decisions about the project?" required=true %}
{% include form/textarea.html label="How did you hear about me or find me?" placeholder="I'm always curious how people find me. Were you referred, or did you find me online somewhere?" required=true %}
{% include form/text.html label="Where will you be located throughout the duration of the project?" placeholder="For instance: what timezone will you primarily be in?" required=true %}
