{% include form/heading.html content="Your project" %}

{% include form/textarea.html label="Why does your business or mission exist?" required=true %}
{% include form/textarea.html label="What are your business and/or personal values?" required=true %}
{% include form/textarea.html label="What drives you?" placeholder="Example: Income, financial independence, customer impact, etc." required=true %}
{% include form/textarea.html label="Why do you want to do this project?" placeholder="What made you decide it needed to happen now?" required=true %}
{% include form/textarea.html label="What happens if you don't move forward with this project?" required=true %}
{% include form/textarea.html label="What is your biggest hesitation in hiring someone to help with this project?" required=true %}
{% include form/textarea.html label="What is in the way of achieving your future goals right now?" required=true %}
{% include form/textarea.html label="Have you worked with someone else in the past?" placeholder="What went well? What didn't?" required=true %}

{% include form/text.html label="When does your project need to be finished or launched?" placeholder="Enter a date or timeframe." required=true %}
