{% include form/heading.html content="Your project" %}

{% include form/textarea.html label="Who will primarily make the decisions about this project?" required=true %}

{% include form/textarea.html label="Why do you want to do this project?" placeholder="What made you decide it needed to happen now?" required=true %}
{% include form/textarea.html label="What problems do you or will this project solve?" placeholder="How will this project impact your customers or visitors?" required=true %}
{% include form/textarea.html label="What happens if you don't move forward with this project?" required=true %}
{% include form/textarea.html label="What is your biggest hesitation in hiring someone to help with this project?" required=true %}
{% include form/textarea.html label="Have you worked with someone else in the past?" placeholder="What went well? What didn't?" required=true %}

{% include form/textarea.html label="What would amazing success look like for this project?" placeholder="What would make it all worth it?" required=true %}
{% include form/textarea.html label="If this project was insanely successful, what would that success allow you to do next?" required=true %}
{% include form/textarea.html label="If budget weren't an issue, what's the boldest move you would make?" required=true %}
{% include form/textarea.html label="Does anything make you nervous about doing this project?" required=true %}
{% include form/textarea.html label="What kind of support would make you feel more confident?" placeholder="For example: clear communication, regular updates, help making decisions, or anything that would make the process feel easier." required=true %}

{% include form/textarea.html label="What would you call a &quot;conversion?&quot;" placeholder="E.g. sale, booking, signup, download. Describe it in as much detail as possible." required=true %}
{% include form/textarea.html label="What other results are you looking for your project to achieve?" required=true %}

{% include form/text.html label="When does your project need to be finished or launched?" placeholder="Enter a date or timeframe." required=true %}
{% include form/text.html label="What timezone will you be in for the duration of this project?" required=true %}
