{% include form/heading.html content="Your technical background" %}

{% include form/textarea.html label="Can you describe what really annoys you about websites?" required=true %}
{% include form/textarea.html label="Have you ever managed a website before?" placeholder="How did you manage it? What works? What doesn't?" required=true %}
{% include form/choice.html label="Are you familiar with WordPress?" choices="Yes,No,I've heard of it" required=true %}
{% include form/textarea.html label="Are there any trends, platforms, or tech you are interested in exploring in particular?" required=true %}
