---
layout: default
---

<section>
	<div class="position-relative w-100">
		<div class="intro-wrapper d-flex flex-column align-items-start position-relative w-100">
			{% include intro_box.html %}
			{% include fun_facts_boxes.html %}

			<div class="mt-90">
				<div class="row g-3 flex-nowrap">
					<div class="col-2"><img src="assets/images/resources/comp-img4.png" alt=""></div>
					<div class="col-2"><img src="assets/images/resources/comp-img4.png" alt=""></div>
					<div class="col-2"><img src="assets/images/resources/comp-img4.png" alt=""></div>
					<div class="col-2"><img src="assets/images/resources/comp-img4.png" alt=""></div>
					<div class="col-2"><img src="assets/images/resources/comp-img4.png" alt=""></div>
					<div class="col-2"><img src="assets/images/resources/comp-img4.png" alt=""></div>
				</div>
			</div>

		</div>
	</div>
</section>

