<!DOCTYPE html>
<html lang="en">

	<head>

		<link
			rel="preload"
			as="image"
			href="{{ 'images/webp/aubrey-portwood-sm.webp' | relative_url }}"
			fetchpriority="high">

		<link
			rel="preload"
			as="image"
			href="{{ 'images/webp/aubrey-portwood-lg.webp' | relative_url }}"
			fetchpriority="high">

		{% include head.html %}
	</head>

	<body class="home">

		{% include header.html nav=true %}

		<main class="wrapper" role="main">
			{{ content }}
		</main>

		{%  include footer.html %}
	</body>

	{% include credit.html %}
</html>
