---
layout: default
---


<div class="flex-spacing gap-lg animated fadeIn">

	<div class="position-relative pt-60 w-100">
		<div class="port-detail position-relative w-100">
				<div class="port-detail-img round15 overflow-hidden position-relative w-100">
						<img class="img-fluid w-100" src="/assets/images/resources/port-detail-img1.jpg" alt="Portfolio Detail Image" loading="lazy">
						<div class="port-cat d-flex align-items-center position-absolute">
								<a href="javascript:void(0);" title="">figma</a><a href="javascript:void(0);" title="">webflow</a>
						</div><!-- Portfolio Categories -->
				</div><!-- Portfolio Detail Image -->
				<div class="port-detail-cont mt-50 d-flex flex-column position-relative w-100">
						<div class="port-detail-cont-box position-relative w-100">
								<div class="row">
										<div class="col-md-5 col-sm-12 col-lg-5">
												<div class="port-detail-cap d-flex flex-column align-items-start w-100">
														<h3 class="mb-0 fw-normal sz-36">{{ page.title }}</h3>
														<span>Designing</span>

												</div><!-- Portfolio Detail Cap -->
										</div>
										<div class="col-md-7 col-sm-12 col-lg-7">
												<p class="mb-0">Lorem ipsum dolor sit amet, consectetur
														adipiscing elit. In nisi, augue urna, mauris elementum
														ligula semper enim.
														Tristique sed sit facilisis ultrices rhoncus eget
														ullamcorper tellus. Itaque earum rerum hic tenetur a
														sapiente
														delectus, ut aut reiciendi.</p>
												<p class="mb-0">Srepellat volup tatibus maiores aliasta
														consequatur auto perferendis repellat quia voluptas sit
														upto
														aspernatur te natus
														accusan.</p>
										</div>
								</div>
						</div><!-- Portfolio Detail Content Box -->
						<div class="port-detail-info-boxes round15 position-relative w-100">
								<div class="row mrg">
										<div class="col-md-6 col-sm-6 col-lg-3">
												<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
														<strong>Category:</strong>
														<h4 class="mb-0 fw-normal sz-24">Product Design</h4>
												</div><!-- Portfolio Detail Info Box -->
										</div>
										<div class="col-md-6 col-sm-6 col-lg-3">
												<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
														<strong>Clients:</strong>
														<h4 class="mb-0 fw-normal sz-24">Websroad</h4>
												</div><!-- Portfolio Detail Info Box -->
										</div>
										<div class="col-md-6 col-sm-6 col-lg-3">
												<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
														<strong>Location:</strong>
														<h4 class="mb-0 fw-normal sz-24">Perth, Australia</h4>
												</div><!-- Portfolio Detail Info Box -->
										</div>
										<div class="col-md-6 col-sm-6 col-lg-3">
												<div class="port-detail-info-box d-flex flex-column overflow-hidden position-relative w-100">
														<strong>Published:</strong>
														<h4 class="mb-0 fw-normal sz-24">Sep 09, 2023</h4>
												</div><!-- Portfolio Detail Info Box -->
										</div>
								</div>
						</div><!-- Portfolio Detail Info Boxes -->
						<div class="port-detail-cont-box position-relative w-100">
								<div class="row">
										<div class="col-md-5 col-sm-12 col-lg-5">
										</div>
										<div class="col-md-7 col-sm-12 col-lg-7">
												<h3 class="mb-0 fw-normal sz-36">Figma Design</h3>
												<p class="mb-0">Professional translation scaled by experts
														Donec imperdiet risus at tortor consequat maximus et
														eget magna. Cras ornare sagittis augue, id sollicitudin
														justo tristique ut.
														Donec imperdiet risus at tortor consequat. Cras ornare
														sagittis augue, id sollicitudin justo tristique ut.
														Nullam ex
														enim, euismod vel bibendum ultrices. Developing core
														applications sit amet, consectetur.</p>
										</div>
								</div>
						</div><!-- Portfolio Detail Content Box -->
						<div class="single-gal-boxes position-relative w-100">
								<div class="row mrg20">
										<div class="col-md-6 col-sm-6 col-lg-6 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: fadeIn;">
												<div class="single-gal-box round15 overflow-hidden position-relative w-100">
														<a href="assets/images/resources/port-detail-img2.jpg" data-fancybox="gallery" title=""><img class="img-fluid w-100" src="assets/images/resources/port-detail-img2.jpg" alt="Portfolio Detail Image" loading="lazy"></a>
												</div><!-- Single Gallery Box -->
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s; animation-name: fadeIn;">
												<div class="single-gal-box round15 overflow-hidden position-relative w-100">
														<a href="assets/images/resources/port-detail-img3.jpg" data-fancybox="gallery" title=""><img class="img-fluid w-100" src="assets/images/resources/port-detail-img3.jpg" alt="Portfolio Detail Image" loading="lazy"></a>
												</div><!-- Single Gallery Box -->
										</div>
								</div>
						</div><!-- Single Gallery Boxes -->
						<div class="port-detail-cont-box position-relative w-100">
								<div class="row">
										<div class="col-md-5 col-sm-12 col-lg-5">
												<h3 class="mb-20 fw-normal sz-36">Professional translation
														scaled by experts</h3>
										</div>
										<div class="col-md-7 col-sm-12 col-lg-7">
												<p class="mb-0">Donec imperdiet risus at tortor consequat
														maximus et eget magna. Cras ornare sagittis augue, id
														sollicitudin justo
														tristique ut.</p>
												<ul class="list-style d-flex flex-column mb-0">
														<li>Donec imperdiet risus at tortor consequat.</li>
														<li>Unique brand identity and strategy.</li>
														<li>Cras ornare sagittis augue, id sollicitudin justo
																tristique ut.</li>
														<li>Nullam ex enim, euismod vel bibendum ultrices.</li>
														<li>Developing core applications.</li>
												</ul>
										</div>
								</div>
						</div><!-- Portfolio Detail Content Box -->
				</div><!-- Portfolio Detail Content -->
		</div><!-- Portfolio Detail -->
	</div>

		<div class="flex-spacing gap-md content wow fadeIn">
			{% if page.markdownify_content %}
				{{ content | markdownify }}
			{% else %}
				{{ content }}
			{% endif %}
		</div>
	</div>
</div><!-- page -->

