---
layout: default
---

{% include page_title.html title="Case Study" class="mb-50" %}

<article class="flex-spacing gap-lg animated fadeIn portfolio-article study-{{ page.url | remove: '.html' | slugify }}">
	<div class="position-relative w-100">
		<div class="port-detail position-relative w-100">

			{% if page.study_screenshot %}
				<div class="port-detail-img round15 overflow-hidden position-relative w-100 screenshot">
					<img class="img-fluid w-100" src="{{ page.study_screenshot | absolute_url }}" alt="{{ page.title }}">
				</div><!-- Portfolio Detail Image -->
			{% endif %}

			<div class="port-detail-cont flex-spacing position-relative w-100">
				<div class="port-detail-cont-box position-relative w-100">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-lg-5">
							<div class="port-detail-cap d-flex flex-column align-items-start w-100 mb-0">
								<h1 class="mb-20 sz-40">{{ page.title }}</h1>

								{% include pill.html content='<i class="fas fa-external-link-alt"></i><a href="https://hire.aubreypwd.com" target="_blank">hire.aubreypwd.com</a>' %}

								{{ page.study_tech | markdownify }}

								<div class="logos">
									{% for logo in page.study_tech_logos %}
										<img src="{{ logo.src | absolute_url }}" alt="{{ logo.title }}" width="150" class="logo">
									{% endfor %}
								</div>
							</div><!-- Portfolio Detail Cap -->
						</div>

						<div class="col-md-7 col-sm-12 col-lg-7">
							{{ page.study_description | markdownify }}
						</div>
					</div>
				</div><!-- Portfolio Detail Content Box -->

				{% include fun_facts_boxes.html class="mt-0" %}

				{% if page.study_before and page.study_after %}
					<div class="single-gal-boxes position-relative w-100">
						<div class="row mrg20">
							<div class="col-md-6 col-sm-6 col-lg-6 wow fadeIn"
								data-wow-duration=".5s"
								data-wow-delay=".2s"
								style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: fadeIn;">

								<div class="single-gal-box screenshot before round15 overflow-hidden position-relative w-100">
									{% if page.study_after_url %}<a href="{{ page.study_after_url }}">{% endif %}
										<img class="img-fluid w-100" src="{{ page.study_before | absolute_url }}" alt="Before" loading="lazy">
									{% if page.study_after_url %}</a>{% endif %}
								</div><!-- Single Gallery Box -->
							</div>

							<div class="col-md-6 col-sm-6 col-lg-6 wow fadeIn"
								data-wow-duration=".5s"
								data-wow-delay=".4s"
								style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s; animation-name: fadeIn;">
								<div class="single-gal-box screenshot after round15 overflow-hidden position-relative w-100">
									<a href="{{ page.study_url }}" target="_blank">
										<img class="img-fluid w-100" src="{{ page.study_after | absolute_url }}" alt="After" loading="lazy">
									</a>
								</div><!-- Single Gallery Box -->
							</div>
						</div>
					</div><!-- Single Gallery Boxes -->
				{% endif %}

				<div class="port-detail-cont-box position-relative w-100">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-lg-6">
							<div class="mb-20 sz-32 fw-bold">
								{{ page.study_features_heading }}
							</div>
							{{ page.study_features_content | markdownify }}
						</div>

						<div class="col-md-6 col-sm-12 col-lg-6">
							<ul class="list-style d-flex flex-column mb-0">
								{% for feature in page.study_features %}
									<li>
										{{ feature | markdownify | remove: '<p>' | remove: '</p>' }}
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div><!-- Portfolio Detail Content Box -->

			</div><!-- Portfolio Detail Content -->
		</div><!-- Portfolio Detail -->
	</div>

	<hr>

	<div class="flex-spacing gap-md content wow fadeIn">
		{% if page.markdownify_content %}
			{{ content | markdownify }}
		{% else %}
			{{ content }}
		{% endif %}
	</div>

	{% include cta_contact_simple.html title=page.contact_cta_title %}

</article><!-- page -->
