{% include form/heading.html content="Competition and positioning" %}

{% include form/textarea.html label="Have you researched your online competition?" placeholder="What did you learn?" required=true %}
{% include form/textarea.html label="Why should visitors choose you instead of a competitor?" required=true %}
{% include form/textarea.html label="List the websites of your competitors." required=false %}

{% include form/textarea.html label="Is there anything competitors are doing that make you nervous?" required=true %}
{% include form/textarea.html label="Are there any things other businesses are doing that you'd like to try?" required=true %}
{% include form/textarea.html label="What future or current changes do you see coming in your industry?" required=true %}
